*target*
*.jar
*.war
*.ear
*.class
*.iml

# Eclipse #
###########

*.pydevproject
.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath
**/jacoco.exec

# External tool builders #
##########################

.externalToolBuilders/

# Locally stored "Eclipse launch configurations" #
##################################################
*.launch

# Intellij #
############
.idea

# Mac OS #
##########
.DS_Store

# Logs #
########
*.log

# Automation test results #
###########################
automation-tests/test-output/**/*
automation-tests/TestLogs/**/*
automation-tests/allure-results/**/*